<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Friends</title>
</head>
<body class="friends">
    {{> loading}}
    <div class="page__header">
        <h3>{{title}}</h3>
        <a href="/profile" class="header__user-pic">
            <img class="user-pic" src="{{profilePic user.profilePicture}}">
        </a>
    </div>
    <div class="main-content__container">
        {{#each friends}}
            <a class="friends__friend" href="/friends/{{id}}" data-friend-id={{id}}>
                <div class="friend-img"></div>
                <div class="friend-text">
                    <h5>{{name}}</h5>
                    <p>Goal: {{frequencyNum}} {{hangText frequencyNum}} a {{frequencyUnit}}</p>
                </div>
            </a>
        {{/each}}
    </div>

    <div class="friends__add">
        <a href="/new-friend" class="add-container"><i class="fas fa-plus"></i></a>
    </div>
</body>
</html>