<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <script src="/js/friend-profile.js" defer></script>
    <script src="/js/form-date.js" defer></script>
    <title>followthru</title>
</head>
<body data-friend-id="{{friend._id}}">
    {{> page_title}}
    <div class="main-content__container">
        <div class="friend__pic-container">
            <div class="picture-frame">
                <img class="friend-pic pic" src="{{friendPic friend.picture}}">
            </div>
            <a id="friend__edit-pic" class="edit-pic">Edit picture</a>
        </div>

        <section class="goal friend-profile__section">
            <div class="friend__subheader">
                <h4>goal</h4>
                <a id="edit-goal" class="edit-btn">edit</a>
            </div>
            <div class="goal__content">
                <p id="goal-text">Hang with {{friend.name}} {{friend.frequencyNum}} time{{pluralize friend.frequencyNum}} a {{friend.frequencyUnit}}.</p>
                <form id="goal-form" style="display: none;" data-friend-id="{{friend._id}}">
                    <input class="goal-form__input frequencyNum" name="frequencyNum" type="number" value="{{friend.frequencyNum}}">
                    <p> time(s) a </p>
                    <select class="goal-form__input frequencyUnit" name="frequencyUnit" value="{{friend.frequencyUnit}}">
                        <option value="week">week</option>
                        <option value="month">month</option>
                        <option value="year">year</option>
                    </select><p>.</p>
                </form>
            </div>
            
        </section>

        <section class="dates friend-profile__section">
            <div class="friend__subheader">
                <h4>dates</h4>
                <a id="edit-dates" class="edit-btn">edit</a>
            </div>
            <div class="dates__content">
                {{#each friend.dates}}
                    <div class="dates__date-container">
                         <a class="delete-container" style="display: none;" data-note-id="{{_id}}" data-friend-id="{{@root.friend._id}}"><i class="fas fa-times"></i></a>
                        <h6>{{label}}</h6>
                        <h5>{{formattedDate}}</h5>
                    </div>
                {{/each}}
                <form method="post" action="/friends/{{friend._id}}/new-date" id="date-create" class="dates__date-container" style="display: none;">
                    <input name="label" type="text" class="new-date__text h6" id="new-date__title" required>
                    <input name="date" type="text" onblur="blurEvent(this)" onfocus="focusEvent(this)" class="new-date__text h5" id="new-date__body" required>
                    <a type="submit" class="edit-btn" id="new-date__submit">Add date</a>
                </form>

                <div class="add-date dates__date-container">
                    <a class="add-container"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </section>

        <section class="notes friend-profile__section">
            <div class="friend__subheader">
                <h4>notes</h4>
                <a id="edit-notes" class="edit-btn">edit</a>
            </div>
            <div class="notes__content">
                {{#each friend.notes}}
                    <div class="notes__note-container">
                        <a class="delete-container" style="display:none" data-note-id="{{_id}}" data-friend-id="{{@root.friend._id}}"><i class="fas fa-times"></i></a>
                        <h5>{{title}}</h5>
                        <p>{{body}}</p>
                    </div>
                {{/each}}
                <div id="note-create" class="notes__note-container" style="display: none;">
                    <h5 class="new-note__text" id="new-note__title" contentEditable></h5>
                    <p class="new-note__text" id="new-note__body" contentEditable ></p>
                    <a class="edit-btn" id="new-note__submit">Add note</a>
                </div>
                <div class="add-note notes__note-container">
                    <a class="add-container"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </section>
    </div>

{{!-- Invisible --}}
    <form method="post" action="/friends/{{friend.id}}/new-note" id="new-note-form" style="display: none;">
        <input type="text" name="body" id="note-form__title">
        <input type="text" name="title" id="note-form__body">
    </form>

    <div id="friend-pic__popup" class="popup" style="display: none;">
        <div class="pic__popup-content">
            <form action="/friends/{{friend._id}}/picture" method="post" enctype="multipart/form-data">
                <input class="pic__upload"  type="file" name="picture">
                <button class="pic__submit" type="submit">Upload picture</button>
            </form>
            <h5 class="pic__cancel">Cancel</h5>
        </div>
    </div>
    {{> back_arrow}}
</body>
</html>