<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <script src="/js/user-profile.js" defer></script>
    <title>followthru</title>
</head>
<body data-user-id="{{user._id}}">
    {{> page_title}}

    <div class="center-form">
        <div class="profile__user-pic-container">
            <div class="picture-frame">
                <img class="user-pic pic" src="{{profilePic user.profilePicture}}">
            </div>
            <a id="profile__edit-pic" class="edit-pic">Edit profile picture</a>
        </div>
        <form id="edit-profile-form" method="post" action="/profile/edit">
            <input type="text" placeholder={{user.firstName}} name="firstName" >
            <input type="text" placeholder={{user.lastName}} name="lastName" >
            <input type="email" placeholder={{user.email}} name="email">
            <input type="password" placeholder="Password" name="password">
            <button id="edit-profile-btn" type="submit">Save</button>
        </form>
        <div class="profile__leave-buttons">
            <button id="logout-user" class="leave-button">Logout</button>
            <button id="delete-user" class="leave-button">Delete profile</button>
        </div>
        
    </div>
    <div id="delete-user__popup" class="popup" style="display: none;">
        <div class="delete-user__popup-content">
            <h4>Are you sure you would like to delete your profile forever?</h4>
            <div class="popup__button-container">
                <button class="popup__delete-btn">Delete</button>
                <button class="popup__nvm-btn">Nevermind</button>
            </div>
        </div>
    </div>
    <div id="profile-pic__popup" class="popup" style="display: none;">
        <div class="pic__popup-content">
            <form action="/profile/picture" method="post" enctype="multipart/form-data">
                <input class="pic__upload"  type="file" name="profilePicture">
                <button class="pic__submit" type="submit">Upload picture</button>
            </form>
            <h5 class="pic__cancel">Cancel</h5>
        </div>
    </div>

    {{> back_arrow}}
</body>
</html>